{%extends "registration/base.html"%}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div id="wrapper" id="content">
  <div class="container">
    <div class="phone-app-demo"></div>
    <div class="form-data">
      <form action="/accounts/login/" method="post">
        {% csrf_token %}
        {% bootstrap_form form%}
        <button class="form-btn" type="submit">Login</button>
        <span class="has-separator">OR</span>
        <a href="#" class="facebook-login">
          <i class="fab fa-facebook"></i>Log in with Facebook
        </a>
        <a href="#" class="password-reset">Forgot password?</a>
        <input type="hidden" name="next" value="{%url 'home' %}">
      </form>
      <div class="sign-up">
        Don't have an account? <a href="/accounts/register/" class="ml-2">Sign Up</a>
      </div>
      <div class="get-the-app">
        <span>Get the app</span>
        <div class="badges">
          <img src="{% static 'images/ios.png' %}" alt="">
          <img src="{% static 'images/android.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}