{%extends "registration/base.html"%}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div id="content">
  <div class="register">
    <div class="form-data form-data-prof">
      <form action="{%url 'create_profile'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="intro">Create your Instagramex profile</h2>
        {% bootstrap_form form%}
        <button class="form-btn" type="submit">Create Profile</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}